/target/classes/makselan/konrad/AppController$1.class
/target/classes/makselan/konrad/AppController.class
/target/classes/makselan/konrad/AppModel.class
/target/classes/makselan/konrad/AppRun.class
/target/classes/makselan/konrad/AppView.class
/target/classes/makselan/konrad/circle.png
/target/classes/makselan/konrad/cross.png
/target/classes/makselan/konrad/FieldState.class
/target/classes/makselan/konrad/redCircle.png
/target/classes/makselan/konrad/redCross.png
/target/classes/makselan/konrad/square.png
/target/test-classes/makselan/konrad/AppModelTest.class
/.idea/.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/target/dependency/apiguardian-api-1.1.0.jar
/target/dependency/junit-jupiter-api-5.5.2.jar
/target/dependency/junit-jupiter-engine-5.5.2.jar
/target/dependency/junit-platform-commons-1.5.2.jar
/target/dependency/junit-platform-engine-1.5.2.jar
/target/dependency/opentest4j-1.2.0.jar
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/tic-tac-toe-1.0-SNAPSHOT.jar
